.App {
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px #ff0000;
  text-align: center;
}

.App-content {
  font-size: large;
  margin-left: 15%;
  margin-right: 15%;
  color: #222;
  text-align: left;
}

.boxed {
  border-width: 3px;
  border-style: solid;
  border-color: #56d4ff;
  padding: 20px;
} 

body {
  background-color: #ccf3ff;
}
